<!DOCTYPE html>
<html>
<head>
<title>Registration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
<h1> Create Your Account</h1>

<form action="register" method="post">
{% csrf_token %}
<div class="form-group"><input type="text" name="first_name" placeholder="First Name"></div>
<div class="form-group"><input type="text" name="last_name" placeholder="Last Name"></div>
<div class="form-group"><input type="text" name="username" placeholder="Username"></div>
<div class="form-group"><input type="email" name="email" placeholder="Email"></div>
<div class="form-group"><input type="password" name="password1" placeholder="Password"></div>
<div class="form-group"><input type="password" name="password2" placeholder="Confirm Password"></div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
 <p>Already Registered? <a href="/login">Login Here</a></p>
<div>
    {% for message in messages%}
    <h3> {{ message }} </h3>
    {% endfor %}

</div>
</div>
</body>
</html>